@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Baloo Da 2',cursive;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
/*navbar start*/
.navbar{
    width: 100%;
    height: 8rem;
    background: rgba(0, 0, 0, .9);
    position: fixed;
    top: -8rem;
    z-index: 10;
    padding: 3rem;
    transition: height .5s;
    animation: animateNavbar 1s .5s forwards;
}
@keyframes animateNavbar{
    0%{
        top: -8rem;
    }
    100%{
        top: 0;
    }
}
.navbar.change{
    height: 100vh;
}
.logo{
    position: absolute;
    top: 1.5rem;
    left: 4rem;
}
.logo a{
    font-family: "MADE Soulmaze",sans-serif;
    font-size: 2.5rem;
    color: #eee;
    letter-spacing: .1rem;
}
.logo span{
    font-family:"MADE Soulmaze",sans-serif;
    font-size: 3.5rem;
    font-weight: bold;
    color: #9e0e09;
}
.nav-list{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all .2s; 
}
.change .nav-list{
   opacity: 1;
   visibility: visible;
   transition: all .7s .5s; 
}
.nav-link{
    font-family: "MADE Soulmaze",sans-serif;
    font-size: 4rem;
    letter-spacing: .3rem;
    color: #fff;
    margin: 2rem 0;
    transition: color .4s;
}
.nav-link:hover{
    color: #9e0e09;
}
/*navbar end*/
/*menu start*/
.menu{
    width: 4rem;
    height: 4rem;
    position: fixed;
    top: 2rem;
    right: 4rem;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}
.line{
    width: 100%;
    height: .2rem;
    background: #eee;
    transition: transform .3s;
}
.line-1{
    width: 50%;
}
.change .line-1{
    transform: translate(100%,1rem) rotate(-35deg);
    transform-origin: right;
}
.line-3{
    width: 50%;
    margin-left: auto;
}
.change .line-3{
    transform: translateY(-1rem)rotate(35deg) ;
    transform-origin: right;
}
/*menu end*/
/*section 1 start*/
.section-1{
    width: 100%;
    height: 100vh;
    background: url(images/dark-bg.jpeg) no-repeat;
    background-size: cover;
}
.banner{
    width: 100%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.banner-heading{
    margin-bottom: 4rem;
    height: 20rem;
    perspective: 50rem;
    overflow: hidden;
}
.banner-heading span{
    font-family: 'Oswald',sans-serif;
    font-size: 12rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    text-shadow: .3rem .3rem .6rem rgba(0, 0, 0, .5);
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    transform: translateZ(8rem);
    opacity: 0;
    letter-spacing: 3rem;
}
.heading-1{
    animation: animateHeading 12s 3s infinite;
}
.heading-2{
    animation: animateHeading 12s 6s infinite;
}
.heading-3{
    animation: animateHeading 12s 9s infinite;
}
.heading-4{
    animation: animateHeading 12s 12s infinite;
}
@keyframes animateHeading{
    0%{
        transform: translateZ(8rem);
        opacity: 0;
        letter-spacing: 3rem;
    }
    3%{
        transform: translateZ(0);
        opacity: 1;
        letter-spacing: 1.5rem;
    }
    25%{
        transform: translateZ(0);
        opacity: 1;
        letter-spacing: 1.5rem;
    }
    28%{
        transform: translateZ(8rem);
        opacity: 0;
        letter-spacing: 3rem;
    }
    100%{
        transform: translateZ(8rem);
        opacity: 0;
        letter-spacing: 3rem;
    }
}
.banner-paragraph{
    font-size: 4rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    background: rgba(0, 0, 0, .6);
    width: 30%;
    margin: 0 auto 4rem auto;
    padding: 1rem 0;
    box-shadow: 1rem 1rem 5rem rgba(0, 0, 0, .5);
    opacity: 0;
    visibility: hidden;
    animation: fadeAnimation 1s 1.5s forwards;
}
.banner-btn{
    width: 30rem;
    height: 6rem;
    background: linear-gradient(to right, #9b0e0e,#7a1010);
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    border-radius: 3rem;
    border: .1rem solid #800505;
    box-shadow: 1rem 2rem 3rem rgba(0, 0, 0, .5);
    text-shadow: .6rem .3rem .2rem rgba(0, 0, 0, .4);
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    animation: fadeAnimation 1s 2s forwards;
    position: relative;
    overflow: hidden;
}
.banner-btn::before{
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, 
    #fff, transparent);
    position: absolute;
    top: 0;
    left: -100%;
    transform: skewX(-30deg);
    transition: left .5s;
}
.banner-btn:hover::before{
    left: 100%;
}
@keyframes fadeAnimation {
    0%{
        opacity: 0;
        visibility: hidden;
    }
    100%{
        opacity: 1;
        visibility: visible;
    }
}
/*section 1 end*/
/*section 2 start*/
.section-2{
    width: 100%;
    height: 140vh;
    background: #222020;
    display: flex;
    align-items: center;
    padding: 0 10rem;
    position: relative;
}
.section-heading{
    font-family: "Oswald",sans-serif;
    font-size: 5rem;
    font-weight: 300;
    color: #ddd;
    margin-right: 2rem;
}
.video-wrapper{
    width: 100rem;
    height: 50rem;
    position: absolute;
    top: 5rem;
    right: 15rem;
    box-shadow: 3rem 3rem 3rem rgba(0, 0, 0, .7);
    overflow: hidden;
}
.video{
    width: 100%;
    height: auto;
    object-fit: cover;
    opacity: .3;
    transition: opacity .3s;
}
.controls{
    width: 100%;
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, .7);
    transform: translateY(calc(100% - .4rem));
    transition: transform .4s;
}
.video-wrapper:hover .controls{
    transform: translateY(0);
}
.video-bar-wrapper{
    width: 100%;
    height: .7rem;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
}
.video-bar{
    height: 100%;
    width: 0;
    background: #d30819;
    transition: width .2s linear;
}
.buttons{
    padding: 2rem 1rem 1rem 1rem;
}
.buttons button{
    background: none;
    border: none;
    cursor: pointer;
}
.buttons i{
    font-size: 2.8rem;
    color: #fff;
}
.section-2-paragraph{
    width: 100rem;
    position: absolute;
    top: 75rem;
    right: 15rem;
    font-size: 2rem;
    color: #ddd;
    border-top: .3rem double #aaa;
    border-bottom: .3rem double #aaa;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    text-shadow: 1rem 1rem 2rem rgba(0, 0, 0, .7);
    line-height: 1.5;
}
.fa-quote-left{
    align-self: flex-start;
    font-size: 5rem;
    margin-bottom: 2rem;
}
.fa-quote-right{
    align-self: flex-end;
    font-size: 5rem;
}

/*section 2 end*/

/*section 3 start*/
.section-3{
    width: 100%;
    height: 100vh;
    background: #03070e;
    display: flex;
    align-items: center;
    padding-left: 10rem;
}
.pricing-cards-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.pricing-card{
    width: 28rem;
    height: 45rem;
    background: #181b1d;
    border-radius: 1rem;
    box-shadow: 2rem 2rem 6rem rgba(0, 0, 0, .7);
}
.pricing-card-font{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.pricing-card-heading{
    font-size: 2rem;
    font-weight: 300;
    color: #fff;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    padding-left: 2rem;
}
.heading-free{
    background: linear-gradient(to right,#087285,#0da5d3);
    border-radius:1rem 1rem 0 0;
}
.heading-basic{
    background: linear-gradient(to right,#946809,#bdba0e);
    border-radius:1rem 1rem 0 0;
}
.heading-standart{
    background: linear-gradient(to right,#a10c14,#e23b3b);
    border-radius:1rem 1rem 0 0;
}
.heading-premium{
    background: linear-gradient(to right,#0b7e48,#3be286);
    border-radius:1rem 1rem 0 0;
}
.pricing-card-price{
    font-family: "MADE Soulmaze",sans-serif;
    font-size: 7rem;
    font-weight: 300;
    color: #fff;
}
.list-free li{
    color: #0da5d3;
}
.list-basic li{
    color: #bdba0e;
}
.list-standart li{
    color: #e23b3b;
}
.list-premium li{
    color: #3be286;
}
.pricing-card-list i{
    font-size: 1.8rem;
    width: 3rem;
}
.pricing-card-list span{
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: .1rem;
}
.pricing-card-btn{
    width: 18rem;
    height: 5rem;
    margin-bottom: 3rem;
    border-radius: 3rem;
    border: none;
    font-size: 1.6rem;
    text-transform: uppercase;
    text-shadow: .3rem .3rem .6rem rgba(0, 0, 0, .5);
}
.btn-free{
    background: #0da5d3;
    cursor: pointer;
}
.btn-basic{
    background: #bdba0e;
    cursor: pointer;
}
.btn-standart{
    background: #e23b3b;
    cursor: pointer;
}
.btn-premium{
    background: #3be286;
    cursor: pointer;
}
/* .pricing-card-back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    border-radius: 1rem;
} */
.back-free{
    background: linear-gradient(to right,#087285,#0da5d3);
}
.back-basic{
    background: linear-gradient(to right,#946809,#bdba0e);
}
.back-standart{
    background: linear-gradient(to right,#a10c14,#e23b3b);
}
.back-premium{
    background: linear-gradient(to right,#0b7e48,#3be286);
}

/*section 3 end*/
/*section 4 start*/
.section-4{
    width: 100%;
    height: 100vh;
    background: #171718;
    display: flex;
    align-items: center;
    padding: 0 10rem;
}
.contact-wrapper{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-detalis{
    display: flex;
    margin-bottom: 8rem;
}
.contact-detalis div{
    width: 25rem;
    text-align: center;
    margin: 4rem;
}
.contact-detalis i{
    font-size: 5rem;
    color: #7a1010;
}
.contact-detalis h3{
    font-family: "MADE Soulmaze",sans-serif;
    font-size: 2.5rem;
    margin: 2rem 0;
    color: #ccc;
}
.contact-detalis p {
    font-size: 1.6rem;
    color: #aaa;
}
.contact-detalis h1{
    font-size: 4rem;
    color: #ccc;
    text-transform: uppercase;
    margin-bottom: 3rem;
}
.contact-form{
    width: 70rem;
    display: flex;
    flex-direction: column;
}
.contact-form input,
.contact-form textarea{
    padding: 1.5rem;
    background: #444;
    color: #eee;
    border: none;
    margin-bottom: 2rem;
    font-family: "Oswald",sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: .1rem;
}
.contact-form textarea{
    max-width: 100%;
    max-height: 15rem;
    min-height: 5.5rem;
}
.contact-form input[type="submit"]{
    background: #7a1010;
    text-transform: uppercase;
    cursor: pointer;
    transition: background .3s;
}
.contact-form input[type="submit"]:hover{
    background: #5f0303;
}
/*section 4 end*/
/*footer start*/
.footer{
    width: 100%;
    height: 8rem;
    background: #202122;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem;
}
.footer-nav a{
    font-family: "MADE Soulmaze",sans-serif;
    font-size: 1.5rem;
    color: #ccc;
    margin-right: 3rem;
    letter-spacing: .1rem;
}
.footer-nav a:hover{
    color: #862323;
}
.copyright{
    font-size: 2rem;
    color: #ddd;
}
/*footer end*/
/*responsive start*/
@media (max-width:1800px){
    .video-wrapper{
        width: 90rem;
        height: 45rem;
        right: 10rem;
    }
    .section-2-paragraph{
        width: 90rem;
        right: 10rem;
    }
}
@media (max-width:1650px){
    html{
        font-size: 57%;
    }
    .section-2{
        width: 100%;
        height: 110vh;
    }
    .video-wrapper{
        width: 85rem;
        height: 40rem;
        right: 25rem;
    }
    .section-2-paragraph{
        width: 85rem;
        font-size: 3rem;
        right: 25rem;
        border-top: none;
        border-bottom: none;
    }
    .fa-quote-left{
        align-items: center;
        font-size: 6rem;
        margin-bottom: 2rem;
    }
}
@media (min-width:1300px){
    .section-2{
        width: 100%;
        height: 110vh;
    }
    .section-2-paragraph{
        width: 95rem;
        font-size: 2rem;
        margin-top: -18rem;
        right: 20rem;
        border-top: none;
        border-bottom: none;
    }
}

@media(max-width:1400px){
   html{
       font-size: 45%;
   }
   .banner-heading span{
       font-size: 10rem;
   }
   .banner-paragraph{
       width: 45rem;
       font-size: 3rem;
   }
   .section-2,
   .section-3,
   .section-4{
       flex-direction: column;
   }
   .section-2 h1 {
      margin-top: 2rem;
   }
   .section-2-paragraph{
       width: 95rem;
       font-size: 2.5rem;
       margin-top: -18rem;
       right: 20rem;
   }
  .section-3{
      width: 100%;
      height: 80vh;
      padding: 5rem 0 10rem 0;
  }
  .section-3 .section-heading{
      padding: 5rem;
  }
 
  .video-wrapper{
      top: 13%;
      left: 50%;
      transform: translateX(-50%);
      width: 80rem;
  }
  .section-4{
      height: auto;
      padding: 5rem 0;
  }

}
/*responsive end*/
