@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #161623;
    min-height: 100vh;
}
section::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00,#f0f);
    clip-path: circle(31% at right 90%);
}
section::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3,#e91e63);
    clip-path: circle(28% at 0% 30%);
}
.contain{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
    cursor: pointer;
}
.contain .cart{
    position: relative;
    width: 300px;
    height: 400px;
    background: rgba(255, 255, 255, .05);
    margin: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, .2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
}
.contain .cart .content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: .5;
    transition: .5s;
}
.contain .cart:hover .content{
    opacity: 1;
    transform: translateY(-20px);
} 

.contain .cart .content .imgBox{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0, 0, 0, .25);
}
.contain .cart .content .imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contain .cart .content .contentBox h3{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
}
.contain .cart .content .contentBox h3 span{
    font-size: 12px;  font-weight: 300;
    text-transform: initial;
}
.contain .cart .social{
    position: absolute;  bottom: 50px; display: flex;
}
.contain .cart .social li{
    list-style: none;  margin: 0 10px;
    transform: translateY(40px);
    transition: .5s;  opacity: 0;
    transition-delay: calc(0.1s * var(--i));
}
.contain .cart:hover .social li{
    transform: translateY(0px); opacity: 1;
}
.contain .cart .social li a{
    color: #fff;  font-size: 24px;
}
@media (min-width:576px){
    .card-deck{
        flex-flow:row wrap;
        margin-right:-15px;
        margin-left:-15px
    } 
}
