@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
    margin: 0; 
    padding: 0; 
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background: #1b1b1b;
}
h3{
    position: relative;
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    left: 35px;
    margin-bottom: 5px;
}
#form{
    position: relative;
    border: 2px solid #131313;
    background: linear-gradient(#1e2024,#18181c);
    border-radius: 4px;
    overflow: hidden;
}
#form #email{
    width: 300px;
    outline: none;
    background: transparent;
    border: navajowhite;
    padding: 12px 15px;
    padding-right: 50px;
    color: #fff;
    font-size: 18px;
}
#form .indicator{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 10px;
    height: 10px;
    background: #555;
    border-radius: 50%;
}
#form.valid .indicator{
    background: #0f0;
    box-shadow: 0 0 5px #0f0,
                0 0 10px #0f0,
                0 0 20px #0f0,
                0 0 40px #0f0;
}

#form.invalid .indicator{
    background: #f00;
    box-shadow: 0 0 5px #f00,
                0 0 10px #f00,
                0 0 20px #f00,
                0 0 40px #f00;
}